@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next { height: 100%; }


.input {
@apply w-full border rounded px-3 py-2;
}
.btn {
@apply bg-blue-600 text-white px-4 py-2 rounded;
}